<% provide(:title, 'Contact') %>
<div class="container">
    <h1>Rapporter un bug</h1>
    <div class="row text-center">
        <div class="col-md-6">
            <br />
            <br />
            <p>Rejoignez le <%= link_to "forum", "https://worldofstars.forumactif.com/" %></p>
        </div>
        <div class="col-md-6">
            <p>
                <%= link_to image_tag("icons/Discord-Logo-Color.png", alt: "Discord", id: "logo-discord", class: "icons"), "https://discord.gg/fPzBJ6VWMt" %>
                <br />
                Rejoignez le serveur <%= link_to "Discord", "https://discord.gg/fPzBJ6VWMt" %>
            </p>
        </div>
    </div>
</div>