<% provide(:title, 'Accueil') %>
<section class="row">
	<aside id="statistics" class="col-md-6">
		<h4>Statistiques</h4>
		<ul>
			<li>joueurs inscrits</li>
			<li>joueurs actifs</li>
			<li>Joueurs connectés</li>
			<li>record de joueurs connectés</li>
		</ul>
	</aside>

	<aside id="connexion" class="col-md-6">
		<h4>Connection</h4>
		<div class="row">
			<div class="col-md-3">
				<label>Pseudo</label>
			</div>
			<div class="col-md-6">
				<input type="text" />
			</div>
			<div class="col-md-3">	
				<button>Connection</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label>Mot de passe</label>
			</div>
			<div class="col-md-6">
				<input type="password" />
			</div>
			<div class="col-md-3">
				<button>S'enregistrer</button>
			</div>
		</div>
	</aside>
</section>
<section class="row">
	<aside id="presentation" class="col-md-6">
		<h4>Présentation</h4>
		Lorem ipsum dolor sit amet, consecteteur adipiscing elit nisi orci. Sociis dui, mi ligula porta condimentum facilisi. Tellus cursus vulputate mi. Ante nec dictum. At quam quis elementum facilisi sociis eget feugiat. Ve neque ad purus et phasellus. Eros, taciti, placerat eros, nam neque mattis litora. Venenatis in, massa id porta hendrerit id, aptent commodo nullam hymenaeos habitant, at ipsum. Aliquam consectetuer facilisis donec. Lacinia, mi aptent.
	</aside>
	<aside id="actuality" class="col-md-6">
		<h4>En ce moment ...</h4>
		Lorem ipsum dolor sit amet, consecteteur adipiscing elit nisi orci. Sociis dui, mi ligula porta condimentum facilisi. Tellus cursus vulputate mi. Ante nec dictum. At quam quis elementum facilisi sociis eget feugiat. Ve neque ad purus et phasellus. Eros, taciti, placerat eros, nam neque mattis litora. Venenatis in, massa id porta hendrerit id, aptent commodo nullam hymenaeos habitant, at ipsum. Aliquam consectetuer facilisis donec. Lacinia, mi aptent.
	</aside>
</section>

<section class="row">
	<aside id="classementGeneral" class="col-md-4">
		<h5>Top 10 : Classement général</h5>
		<ul>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
		</ul>
	</aside>
	<aside id="classementTeam" class="col-md-4">
		<h5>Top 10 : Classement des alliances</h5>
		<ul>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
		</ul>
	</aside>
	<aside id="classementAttack" class="col-md-4">
		<h5>Top 10 : Classement d'attaque</h5>
		<ul>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
			<li>Lorem ipsum dolor sit amet, consecteteur adipiscing elit velit congue.</li>
		</ul>
	</aside>
</section>