// Place all the styles related to the Buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#building_list, #upgrading_infos {
	margin-top: 20px;
}

.tooltips {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltips .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltips .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.building_image {
	width: 120px;
	height: 120px;
	margin: 10px;
	margin-left: 20px;
}

.building_image_mini {
	width: 64px;
	height: 64px;
	margin: 2px;
}

.building_name {
	padding: 10px;
	color: #1C1C1C;
	background-color: #9d9d9d;
}
