.aside_board, #planet_board {
  border: 1px solid #090909;
  padding: 1%;
}

#planet_board {
  background-color: #222;
}

.aside_board {
  background-color: #333;
}

.ressources_infos {
  background-color: #222;
  margin: 10px;
  border-style: groove;
  border-radius: 5px;
}

#resources li {
  list-style: none;
}
