<div class="container">
    <div class="row">
        <%= raw(render('planets/resources')) %>
    </div>
    <div class="row">
        <div id="aside_resources" class="col-md-2">
            <%= raw(render('planets/production')) %>
        </div>
        <div id="building_list" class="col-md-10">
            <%= raw(render('buildings/building_detail')) %>
        </div>
    </div>
</div>