// Place all the styles related to the Buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#building_list, #upgrading_infos {
	margin-top: 20px;
}