.building_name {
  padding: 10px;
  color: #1C1C1C;
  background-color: #9d9d9d;
}

.ressources_infos {
  background-color: #222;
  margin: 10px;
  border-style: groove;
  border-radius: 5px;
}

.building_image {
  width: 120px;
  height: 120px;
  margin: 10px;
  margin-left: 20px;
}
