// Place all the styles related to the Planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.building_name {
  padding: 10px;
  color: #1C1C1C;
  background-color: #9d9d9d;
}

.ressources_infos {
  background-color: #222;
  margin: 10px;
  border-style: groove;
  border-radius: 5px;
}
