$gray-medium-light: #eaeaea;

body {
	padding: 20px;
	background-color: #1C1C1C;
	font-family: Ubuntu, sans-serif;
	color: #9d9d9d;
}

header {
	padding-top :55px;
}

nav ul {
	background-color: #222;
	border: 1px solid #090909;
	padding: 1%;
	margin-bottom: 1%;
}

footer {
	margin-top: 1%;
}

nav {
	margin-bottom: 1%;
}

nav ul li {
    list-style: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #222;
    color: #d3d3d3;
}

.nav-link {
	color: #9d9d9d;

	&:visited {
		color: #9d9d9d;
	}

	&:hover {
		color: #fff;
	}
}