// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray-medium-light: #eaeaea;

body {
	padding: 20px;
	background-color: #1C1C1C;
	font-family: Ubuntu, sans-serif;
	color: #9d9d9d;
}


section {
	background-color:#222222;
}

.test {

}
