<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<%= Time.now.year %> - World of Stars - Ether
			</div>
			<div class="col-md-2">
				<%= link_to "Forum", "https://worldofstars.forumactif.com/" %>
				<%= link_to image_tag("logos/Discord-Logo-Color.png", alt: "Discord", id: "logo-discord", class: "logos"), "https://discord.gg/fPzBJ6VWMt" %>
				<%= link_to image_tag("logos/GitHub-Mark-Light-64px.png", alt: "GitHub", id: "logo-github", class: "logos"), "https://github.com/acouprie/worldofstars" %>
			</div>
</footer>
